<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% comment %} Inlined CSS Variables {% endcomment %}
    {% render 'css-variables' %}

    {% comment %} Critical first (small, specific overrides) {% endcomment %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% comment %} Social, title, etc. {% endcomment %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- comment -%} Tailwind output LAST so its utilities take precedence {%- endcomment -%}
    {{ 'globals.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% sections 'header-group' %}
    {{ content_for_layout }}
    {% sections 'footer-group' %}
  </body>
</html>
